<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Cities list</h4>
            <div class="table-responsive">
                <table id="city-table" class="table table-bordred table-striped">
                    <thead>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Delete</th>
                    </thead>
                    <tbody>
                        <tr *ngIf="cities && !cities.length">
                            <td colspan="3" class="text-center">
                                There is no city to display
                            </td>
                        </tr>
                        <tr *ngFor="let city of cities; index as index">
                            <td>{{ city.name }}</td>
                            <td>{{ city.description }}</td>
                            <td>
                                <button class="btn btn-danger btn-sm" (click)="onDelete(city)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="delete-confirm-modal" *ngIf="showConfirm">
    <div class="delete-confirm-modal-body text-center">
        <p>Are you sure you want to delete this city?</p>
        <div class="form-action">
            <button class="btn btn-primary" (click)="onDeleteConfirm()">Confirm</button>
            <button class="btn btn-danger" (click)="onDeleteCancel()">Cancel</button>
        </div>
    </div>
</div>
