.row{
    margin-top:40px;
    padding: 0 10px;
}
.clickable{
    cursor: pointer;   
}

.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}
.panel-heading div span{
    margin-left:5px;
}
.panel-body{
    display: none;
}
.delete-confirm-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-confirm-modal-body {
    padding: 2rem;
    background-color: white;
}

.form-action {
    margin-top: 2rem;
}

.form-action .btn {
    width: 120px;
}

.form-action .btn-primary {
    margin-right: 1rem;
}